@font-face {
    font-family: 'Spongeboy Me Bob';
    src: url('../fonts/SpongeboyMeBob.eot');
    src: url('../fonts/SpongeboyMeBob.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SpongeboyMeBob.woff2') format('woff2'),
        url('../fonts/SpongeboyMeBob.woff') format('woff'),
        url('../fonts/SpongeboyMeBob.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
